<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130550997119-168i38igf4bri179p0g8ct1q46i9v7em.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130550997119-168i38igf4bri179p0g8ct1q46i9v7em</string>
	<key>API_KEY</key>
	<string>AIzaSyDN6XRqZby-9OUdDOka2FVBmiGhqfzevm0</string>
	<key>GCM_SENDER_ID</key>
	<string>130550997119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.huzaifa.www.LogIn</string>
	<key>PROJECT_ID</key>
	<string>signup-831e9</string>
	<key>STORAGE_BUCKET</key>
	<string>signup-831e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130550997119:ios:e44f1595c0e3a2cc839f4a</string>
</dict>
</plist>